pandas~=1.5.1
plotly==5.9.0
s3fs~=2022.10.0
streamlit==1.11.0
scipy==1.9.3
boto3~=1.24.28
pillow~=9.2.0
requests~=2.28.1
numpy~=1.23.4
seaborn~=0.12.1
botocore~=1.27.59
altair==4
cmappy
pymysql
plotnine
extra-streamlit-components
aws-secretsmanager-caching
pyjwt
